
html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header_links a {
    text-decoration: none;
}

.header_links, .inspiration ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.intro, .header {

    background-color: #1F2937;
}

.hero_text, .header_links a {
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 90px 100px;
    
}

.intro .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.intro h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.intro .right {
    flex: 1;
    background-color: grey;
    text-align: center;
    align-content: center;
}

.intro button {
    background-color: #3882f6;
    border: 0;
    cursor: pointer;
    
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: 800;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 28px;
}

.body {
    display: flex;
    flex-direction: column;
}

.body h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.body .teasers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.body .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.teasers .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    gap: 5px;

    border-style:solid;
    border-color: #3882f6;
    border-radius: 25px;
    border-width: 5px;

}

.teasers .card div, .teasers .card img {
    font-size: 18px;
    color: #555555;
}

.inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    padding: 20px 350px;
}

.inspiration div {
    align-self: flex-start;
}

.inspiration .comment {
    align-self: flex-end;
    font-weight: 600;
}


.inspiration .list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.inspiration ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 5px 20px;
}


